.article {
  background: #fff;
  border-radius: 8px;
  padding: 10px 0 !important;
  cursor: pointer;
  transition: all 0.2s ease-in;
  color: inherit;
  text-decoration: none;

  &:hover {
    box-shadow: 0 4px 8px rgb(0 0 0 / 15%);
  }

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  &__fade {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0 20px;
    margin-bottom: 10px;

    &__username {
      &:hover {
        color: #3766a9;
      }
    }

    &__date {
      color: #595959;

      &:hover {
        color: #3766a9;
      }
    }

    &__subscribe {
      margin-left: auto;
    }
  }

  &__body {
    padding: 0 20px;
    margin-bottom: 15px;

    &_title {
      text-decoration: none;
      color: black;
    }

    &_description {
      margin-top: 8px;
      line-height: 24px;
    }
  }

  &__cover {
    max-height: 400px;
    overflow: hidden;

    & img {
      max-width: 100%;
      max-height: 400px;
      width: 100%;
      object-fit: cover;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 10px 20px 0 20px;

    &_comments {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;

      &:hover {
        color: #3766a9;
      }
    }

    &_likes {
      display: flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;

    }
  }
}