.likes {
  display: flex;
  align-items: center;
  gap: 3px;

  &__value {
    font-size: 18px;
    color: #2ea83a;
    font-weight: 600;
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  & svg {
    cursor: pointer;
  }
}