.feed {
  &__container {
    margin: 0 auto 20px auto;
    max-width: 700px;
    padding: 70px 15px 0 15px;
    min-height: 60vh;
  }

  &__error {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__loader {
    margin-top: 25px;
    border-radius: 8px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;

    & span {
      width: 25px !important;
      height: 25px !important;
    }
  }

  &__actions {
    background: #fff;
    padding: 15px 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__tab {
      max-width: 100px;
      min-width: 65px;
      min-height: 33px;
      justify-content: flex-end;
      padding: 13px;
    }

  }

  &__search {
    display: flex;
    gap: 10px;
  }
}
